:root {
    --mau-trang: #F8F5F9;
    --mau-tim-nhat: #F3E9FF;
    --mau-tim-dam: #774AD8;
    --mau-vang-dam: #F8C929;
    --mau-vang-nhat: #FEEFB2;
    --mau-vang-nau: #66490A;
    --font-main: 'Roboto', sans-serif;
}

/* màu trắng : #F8F5F9
màu tím nhạt: #F3E9FF
màu tím đậm: #774AD8
màu vàng nhạt: #FEEFB2
màu vàng đậm: #F8C929
màu vàng nâu: #66490A */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--mau-tim-nhat);
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

header {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

header img {
    height: 150px;
}

header h1 {
    color: var(--mau-tim-dam);
    font-size: 48px;
}

.main {
    background-color: var(--mau-tim-dam);
    color: var(--mau-trang);
    width: 720px;
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    text-align: left;
}

.describe p {
    padding-left: 17px;
    margin: 0;
    line-height: 30px;
}

p.highlight {
    border-left: 5px solid var(--mau-vang-dam);
    color: var(--mau-vang-dam);
    padding-left: 12px;
}

.decolink {
    background-color: var(--mau-vang-nhat);
    border-radius: 4px;
    padding: 2px 4px;
    color: var(--mau-tim-dam);
    font-weight: 700;
    text-decoration: none;
}

p.center {
    text-align: center;
    padding: 10px;
}

a.button {
    display: inline-block;
    background-color: var(--mau-vang-dam);
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--mau-vang-nau);
    text-decoration: none;
}